---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
PackConstructorInitializers: Never

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false

Cpp11BracedListStyle: true
SortIncludes: Never
IncludeBlocks: Preserve

IndentCaseLabels: true
AccessModifierOffset: -2

NamespaceIndentation: None
FixNamespaceComments: false

ReflowComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

DerivePointerAlignment: false
Standard: Latest
...
